<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.bootcss.com/angular-material/1.1.4/angular-material.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/material-design-icons/3.0.1/iconfont/material-icons.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/default.css">
    <base href="./">
	<title>防伪订单信息</title>
</head>
<body ng-app="lmApp" ng-cloak ng-controller="mainController">
	<md-subheader class="md-primary lm-pageTitle">防伪订单{{pageTitle}}</md-subheader>
	<md-card layout-padding>
		<form name="form" ng-submit="onSubmit()">
			<div layout="row" layout-margin>
	            <md-input-container flex>
	                <label>编码</label>
                    <input type="text" name="code" ng-model="data.code" ng-disabled="isDetail">
	            </md-input-container>
	            <md-input-container flex>
	                <label>防伪类型</label>
	                <md-select name="typeId" ng-model="data.typeId" ng-change="typeChange()" ng-if="!isDetail">
                        <md-option ng-repeat="type in typeMap" ng-value="type.id">
                            {{type.name}}
                        </md-option>
                    </md-select>
                    <input type="text" ng-model="data.typeName" ng-if="isDetail" disabled>
	            </md-input-container>
	            <md-input-container flex>
				    <label>公司</label>
				    <md-select ng-model="data.supplierId" ng-change="supplierChange()" ng-if="!isDetail">
				        <md-option ng-repeat="supplier in supplierMap" ng-value="supplier.id">
				            {{supplier.name}}
				        </md-option>
				    </md-select>
				    <input type="text" ng-model="data.supplierName" ng-if="isDetail" disabled>
				</md-input-container>
	        </div>
	        <div layout="row" layout-margin>
	        	<md-input-container flex>
                    <label>状态</label>
                    <md-select ng-model="data.status" ng-if="!isDetail">
                        <md-option ng-repeat="status in statusMap" ng-value="status.name">
                            {{status.name}}
                        </md-option>
                    </md-select>
                    <input type="text" ng-model="data.status" ng-if="isDetail" disabled>
                </md-input-container>
	            <md-input-container flex>
                    <label>数量</label>
                    <input type="number" min="0" name="num" ng-model="data.num" integer number-trust ng-disabled="isDetail">
                    <div ng-messages="form.num.$error" role="alert">
                        <div ng-message="integer">请填写正确的格式</div>
                    </div>
                </md-input-container>
                <md-input-container flex>
                    <label>绑定数量</label>
                    <input type="number" min="0" name="bindNum" ng-model="data.bindNum" integer number-trust ng-disabled="isDetail">
                    <div ng-messages="form.bindNum.$error" role="alert">
                        <div ng-message="integer">请填写正确的格式</div>
                    </div>
                </md-input-container>
	        </div>
	        <div layout="row" layout-margin ng-if="!isDetail">
	            <span flex></span>
	            <md-button class="md-primary md-raised" type="submit" ng-disabled="form.$invalid">
	           		保&nbsp;&nbsp;存
	           	</md-button>
	        </div>
	    </form>
	</md-card>

	<script src="//cdn.bootcss.com/angular.js/1.5.8/angular.min.js"></script>
	<script src="//cdn.bootcss.com/angular.js/1.5.8/angular-animate.min.js"></script>
	<script src="//cdn.bootcss.com/angular.js/1.5.8/angular-aria.min.js"></script>
	<script src="//cdn.bootcss.com/angular.js/1.5.8/angular-messages.min.js"></script>
	<script src="//cdn.bootcss.com/angular-material/1.1.4/angular-material.min.js"></script>
	<script src="../../js/_default.js?v=1.0.1"></script>
	<script>
		angular.module("lmApp")
		.controller("mainController", ["$scope", "baseParam", "removeTab", "lmToastHelper", "httpService", 
			function($scope, baseParam, removeTab, lmToastHelper, httpService){
				$scope.data = {};
				$scope.typeMap = []; //防伪类型
				$scope.supplierMap = []; //公司
				$scope.statusMap = []; //状态

				$scope.onSubmit = function(){
					if($scope.form.$valid){
						if("edit" == $scope.pageType){
							var action = baseParam.basePathC+"meta/codeOrder/update/"+$scope.id;
						}else{
							var action = baseParam.basePathC+"meta/codeOrder/add";
						}
						httpService.post(action, {
							code:         $scope["data"]["code"],
							num:          $scope["data"]["num"],
							typeId:       $scope["data"]["typeId"],
							typeName:     $scope["data"]["typeName"],
							status:       $scope["data"]["status"],
							supplierId:   $scope["data"]["supplierId"],
							supplierName: $scope["data"]["supplierName"],
							bindNum:      $scope["data"]["bindNum"]
						})
						.then(function(response){
							removeTab.do(response);
						}, function(error){
							lmToastHelper.alert(error.message);
						});
					}
				};

				$scope.typeChange = function(){
					for(var i=0,len=$scope.typeMap.length; i<len; i++){
						if($scope.typeMap[i]["id"] === $scope["data"]["typeId"]){
							$scope["data"]["typeName"] = $scope.typeMap[i]["name"];
							break;
						}
					}
				};

				$scope.supplierChange = function() {
					for(var i=0,len=$scope.supplierMap.length; i<len; i++){
						if($scope.supplierMap[i]["id"] === $scope["data"]["supplierId"]){
							$scope["data"]["supplierName"] = $scope.supplierMap[i]["name"];
							break;
						}
					}
				};

		        //获取详情
				if($scope.pageType != null){
					(function(){
						httpService.post(baseParam.basePathC+"meta/codeOrder/get/"+$scope.id)
						.then(function(response){
							$scope.data = response.data;
						}, function(error){
							lmToastHelper.alert(error.message);
						});
					})();
				}

				//获取公司
				if($scope.pageType != "detail"){
					(function(){
						httpService.post(baseParam.basePathB+"meta/supplier", {
							pageSize: 1000
						})
						.then(function(response){
							$scope.supplierMap = response.data;
						}, function(error){
							lmToastHelper.alert(error.message);
						});
					})();
				}
			}
		])
	;
	</script>
</body>
</html>
