<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.bootcss.com/angular-material/1.1.4/angular-material.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/material-design-icons/3.0.1/iconfont/material-icons.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/default.css">
    <base href="./">
    <title>防伪码批量上传</title>
</head>
<body ng-app="lmApp" ng-cloak ng-controller="mainController">
    <md-subheader class="md-primary lm-pageTitle">防伪码批量上传{{pageTitle}}</md-subheader>
    <md-card layout-padding>
        <form name="form">
            <div layout="row" layout-margin>
                <md-input-container flex>
                    <label>商品</label>
                    <md-select name="goodsId" ng-model="data.goodsId" ng-change="goosChange()" required>
                        <md-option ng-repeat="goods in goodsMap" ng-value="goods.id">
                            {{goods.name}}
                        </md-option>
                    </md-select>
                    <div ng-messages="form.goodsId.$error" role="alert">
                        <div ng-message="required">请选择商品</div>
                    </div>
                </md-input-container>
                <div flex></div>
            </div>
            <md-content layout-padding>
                <h5>请选择zip文件上传防伪码</h5>
            </md-content>
            <div class="jun-progress display-flex align-items-center flex-hc" ng-show="onLoading">
                <md-progress-linear md-mode='determinate' value="{{determinateValue}}" md-diameter="100" style="width: 200px;"></md-progress-linear>
            </div>
            <div layout="row" layout-margin ng-if="!isDetail">
                <upload-section ws-options="options" ws-name="file" up-disabled="form.$invalid"></upload-section>
            </div>
        </form>
    </md-card>

    <script src="//cdn.bootcss.com/angular.js/1.5.8/angular.min.js"></script>
    <script src="//cdn.bootcss.com/angular.js/1.5.8/angular-animate.min.js"></script>
    <script src="//cdn.bootcss.com/angular.js/1.5.8/angular-aria.min.js"></script>
    <script src="//cdn.bootcss.com/angular.js/1.5.8/angular-messages.min.js"></script>
    <script src="//cdn.bootcss.com/angular-material/1.1.4/angular-material.min.js"></script>
    <script src="../../js/_default.js?v=1.0.1"></script>
    <script>
        angular.module("lmApp")
        .controller("mainController", ["$scope", "baseParam", "removeTab", "uploadCheck", "lmToastHelper", "httpService", 
            function($scope, baseParam, removeTab, uploadCheck, lmToastHelper, httpService){
                $scope.data = {};
                $scope.goodsMap = []; //商品
                $scope.options = {
                    url: baseParam.uploadBaseC,
                    before:function(file){
                        //验证
                        $scope.onLoading = true;
                        $scope.determinateValue = 0;
                        $scope.$digest();
                        return true;
                    },
                    uploading: function(progressValue){
                        $scope.determinateValue = progressValue;
                        $scope.$digest();
                    },
                    callBack:function(result){
                        $scope.onLoading = false;
                        $scope.determinateValue = 0;
                        $scope.$digest();
                        if("200" == result.code){
                            removeTab.do(result);
                        }else{
                            lmToastHelper.alert(result.message);
                        }   
                    }
                };

                $scope.goosChange = function(){
                    $scope.options.url = baseParam.uploadBaseC + $scope["data"]["goodsId"];
                }

                //获取商品
                if($scope.pageType != "detail"){
                    httpService.post(baseParam.basePathB+"meta/goods", {
                        pageSize: 10000
                    })
                    .then(function(response){
                        $scope.goodsMap = response.data;
                    }, function(error){
                        lmToastHelper.alert(error.message);
                    });
                }
            }
        ])
    ;
    </script>
</body>
</html>
