<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="styleSheet" href="../../css/framework/table.css?v=1.0.1">
	<link rel="styleSheet" href="../../css/framework/module.css?v=1.0.1">
    <base href="./">
	<title>门店信息</title>
</head>
<body>
	<form action="../../data/success" method="POST">
		<div class="module" style="width: 100%;">
			<div class="title">
	    		<div class="item selected" v-cloak>门店信息{{PAGETITLE}}</div>	
	    	</div>
	    	<div class="content">
	    		<div class="item selected" style="padding:10px;">    			
	  				<table class="detailTable" border="1">
						<tr>
							<th width="20%">所属公司</th>
							<td width="30%">
								<select v-model="company" v-cloak v-if="!ISDETAIL">
									<option></option>
								</select>
								<span v-cloak v-else>{{company}}</span>
							</td>
							<th width="20%">所属渠道商</th>
							<td width="30%">
								<select v-model="qds" v-cloak v-if="!ISDETAIL">
									<option></option>
								</select>
								<span v-cloak v-else>{{qds}}</span>
							</td>
						</tr>
						<tr>
							<th width="20%">门店类型</th>
							<td width="30%">
								<select v-model="type" v-cloak v-if="!ISDETAIL">
									<option value="专卖店">专卖店</option>
									<option value="旗舰店">旗舰店</option>
									<option value="直营店">直营店</option>
								</select>
								<span v-cloak v-else>{{type}}</span>
							</td>
							<th width="20%">门店地址</th>
							<td width="30%">
								<input type="text" name="" title="门店地址" class="null" v-model="fullAddress" v-cloak v-if="!ISDETAIL">
								<span v-cloak v-else>{{fullAddress}}</span>
							</td>
						</tr>
						<tr>
							<th width="20%" height="50">门店图标</th>
							<td width="30%" colspan="3">
								<div id="labelImg" style="overflow: hidden;"></div>
								<button @click="upload()" v-if="!ISDETAIL" class="myBtn btn-primary">上传图片</button>
								<div style="color: red" v-if="!ISDETAIL">注意事项：上传的图片大小不能超过500K</div>
							</td>
						</tr>
						<tr>
							<th width="20%">门店名称</th>
							<td width="30%">
								<input type="text" name="" title="门店名称" class="null" v-model="name" v-cloak v-if="!ISDETAIL">
								<span v-cloak v-else>{{name}}</span>
							</td>
							<th width="20%">联系电话</th>
							<td width="30%">
								<input type="text" name="" title="联系电话" class="null phone" v-model="telphone" v-cloak v-if="!ISDETAIL">
								<span v-cloak v-else>{{telphone}}</span>
							</td>
						</tr>
						<tr>
							<th width="20%">营业信息</th>
							<td width="30%">
								<input type="text" name="" title="营业信息" class="null" v-model="info" v-cloak v-if="!ISDETAIL">
								<span v-cloak v-else>{{info}}</span>
							</td>
							<th width="20%">负责人姓名</th>
							<td width="30%">
								<input type="text" name="" title="负责人姓名" class="null" v-model="managerName" v-cloak v-if="!ISDETAIL">
								<span v-cloak v-else>{{managerName}}</span>
							</td>
						</tr>
						<tr>
							<th width="20%">负责人电话</th>
							<td width="30%">
								<input type="text" name="" title="负责人电话" class="null phone" v-model="managerMobile" v-cloak v-if="!ISDETAIL">
								<span v-cloak v-else>{{managerMobile}}</span>
							</td>
							<th width="20%">营业时间</th>
							<td width="30%">
								<input type="text" name="" title="营业时间" class="null" v-model="time" v-cloak v-if="!ISDETAIL">
								<span v-cloak v-else>{{time}}</span>
							</td>
						</tr>
	  				</table>		
	    		</div>
	    		<div class="submit" v-if="PAGETYPE != 'detail'">
	    		    <center>
	    		    	<input type="button" class="saveBtn" value="保存">
	    		    </center>
	    		</div>
	    	</div>
		</div>
	</form>

	<script src="../../js/jquery/jquery-1.8.3.min.js?v=1.0.1"></script>
	<script src="../../plugins/Vue/Vue.js?v=1.0.1"></script>
	<script src="../../plugins/AjaxUploader-0.0.1.js??v=1.0.1"></script>
	<script src="../../js/framework/table.js?v=1.0.1" ></script>
	<script src="../../js/default.js?v=1.0.1"></script>
	<script>
		var vmParam = $.extend(true, VMDEFAULT, {
			data: {
				company: "",
				qds: "",
				type: "",
				fullAddress: "",
				labelImg: "",
				name:"",
				telphone:"",
				info:"",
				managerName:"",
				managerMobile:"",
				time:""
			},
			methods: {
				upload: function(){
					new AjaxUploader({
    					url: "http://127.0.0.1:8080/file.center/rest/o/uploads/temp",
    					name: "files",
    					before: function(file){
    						//验证
    						if(!file||file[0].type.indexOf("image")<0){
    							alert("请选择一张图片");
    							return false;
    						}
    						if(file[0].size>500*1024){
    							alert("请你选择一张小于500K的图片");
    							return false;
    						}
    						return true;
    					},
    					callBack:function(result){
        					//处理结果，显示预览
    						if(result && result.data){
    							for(var i=0;i<result.data.length;i++){
    								var $file = fileStyle.createFilePicture({
										src: "http://127.0.0.1:8080/file.center/rest/o/download/temp/"+result.data[i]+"/"+document.body.clientWidth,
										width: 120,
										height: 120
									});
									$("#labelImg").html($file);
    								vm["labelImg"] = result.data[i];
    							}
    						}
    					}
    				});
				}
			}
		});
		var vm = new Vue(vmParam);
		if(TYPE != null){
			/*junAjax({
				url: "",
				success: function(result){*/
					result = {
						code: "200", 
						data: {	
							company: "泸州稻香村酒业有限公司",
							qds: "",
							type: "专卖店",
							fullAddress: "陈埠村",
							name:"门店C",
							telphone:"13456909876",
							info:"集成灶",
							managerName:"小王",
							managerMobile:"15290909898",
							time:"08:00-22:01",
							labelImg: "MDlhYWUxYWEtM2FlYi00OWZhLWIwMmEtZDY2YWRjMjY0MDdhLnBuZw=="				
						}
					};
					if(result.code != "200"){
						alert(result.data);
					}else{
						for(data in result.data){
							vm[data] = result.data[data];
						}
						if(vm.labelImg != ""){
							var $file = fileStyle.createFilePicture({
								src: "http://127.0.0.1:8080/file.center/rest/o/download/temp/"+vm.labelImg+"/"+document.body.clientWidth,
								width: 120,
								height: 120
							}, vm.ISDETAIL);
							$("#labelImg").html($file);
						}
					}
		/*		},
				error: function(){
					alert("网络错误 ！");
				}
			});*/
		}
	</script>
</body>
</html>
