<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.bootcss.com/angular-material/1.1.4/angular-material.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/material-design-icons/3.0.1/iconfont/material-icons.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/default.css">
    <base href="./">
	<title>轮播图信息</title>
</head>
<body ng-app="lmApp" ng-cloak ng-controller="mainController">
	<md-content layout-padding class="lm-pageTitle">
   		轮播图{{pageTitle}}
	</md-content>
	<md-card layout-padding>
		<form name="form" ng-submit="onSubmit()">
	        <div layout="row" layout-margin>
	            <md-input-container flex>
	                <label>标题</label>
	                <input type="text" name="title" ng-model="data.title" required ng-disabled="isDetail">
	                <div ng-messages="form.title.$error" role="alert">
	                    <div ng-message="required">请填写必要信息</div>
	                </div>
	            </md-input-container>
	            <md-input-container flex>
	                <label>价格</label>
	                <input type="text" name="price" ng-model="data.price" plus ng-disabled="isDetail">
	                <div ng-messages="form.price.$error" role="alert">
	                    <div ng-message="plus">请填写正确信息</div>
	                </div>
	            </md-input-container>
	            <md-input-container flex>
	                <label>排序</label>
	                <input type="text" name="sort" ng-model="data.sort" plus integer ng-disabled="isDetail">
	                <div ng-messages="form.sort.$error" role="alert">
	                    <div ng-message-exp="['plus', 'integer']">请填写正确的信息</div>
	                </div>
	            </md-input-container>
	        </div>
	        <div layout="row" layout-margin>
	            <md-input-container flex>
	                <label>跳转</label>
	                <textarea name="url" ng-model="data.url" rows="3" md-detect-hidden md-select-on-focus required ng-disabled="isDetail"></textarea>
	                <div ng-messages="form.url.$error" role="alert">
	                	<div ng-message="required">请填写正确信息</div>
	                </div>
	            </md-input-container>
	        </div>
	        <div layout="row" layout-margin ng-if="!isDetail">
	            <upload-section ws-options="options" ws-name="file" ws-text="图片"></upload-section>
	        </div>
	        <div class="jun-progress display-flex align-items-center flex-hc" ng-show="onLoading">
                <md-progress-linear md-mode='determinate' value="{{determinateValue}}" md-diameter="100" style="width: 200px;"></md-progress-linear>
            </div>
		    <md-grid-list layout-margin class="gallery" 
		    	md-cols="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6"  
		    	md-row-height="1:1" 
		    	md-gutter="8px">
		        <md-grid-tile md-colspan="1" md-rowspan="1" md-colspan-sm="1" ng-click="showPhotoView($event, '图片', data.imgUrl)" ng-if="data.imgUrl">
		            <img ng-src="{{data.imgUrl}}" img-responsive>
		            <md-grid-tile-footer>
		            	<i class="material-icons pointer" ng-click="remove($event, 'imgUrl')" ng-if="!isDetail">delete_forever</i>
		            	<h3 class="inline-block">图片</h3>
		            </md-grid-tile-footer>
		        </md-grid-tile>
		    </md-grid-list>
	        <div layout="row" layout-margin ng-if="!isDetail">
	            <span flex></span>
	            <md-button class="md-primary md-raised" type="submit" ng-disabled="form.$invalid">
	           		保&nbsp;&nbsp;存
	           	</md-button>
	        </div>
	    </form>
	</md-card>

	<script src="//cdn.bootcss.com/angular.js/1.5.8/angular.min.js"></script>
	<script src="//cdn.bootcss.com/angular.js/1.5.8/angular-animate.min.js"></script>
	<script src="//cdn.bootcss.com/angular.js/1.5.8/angular-aria.min.js"></script>
	<script src="//cdn.bootcss.com/angular.js/1.5.8/angular-messages.min.js"></script>
	<script src="//cdn.bootcss.com/angular-material/1.1.4/angular-material.min.js"></script>
	<script src="../../js/_default.js?v=1.0.1"></script>
	<script>
		angular.module("lmApp")
		.controller("mainController", ["$scope", "baseParam", "removeTab", "uploadCheck", "potoView", "lmToastHelper", "httpService", "getRequest",
			function($scope, baseParam, removeTab, uploadCheck, potoView, lmToastHelper, httpService, getRequest){
				$scope.data = {};
				$scope.determinateValue = 0;

				$scope.onSubmit = function(){
					if($scope.form.$valid){
						if("edit" == $scope.pageType){
							var action = baseParam.basePathB+"meta/homeElement/update/"+$scope.id;
						}else{
							var action = baseParam.basePathB+"meta/homeElement/add";
						}
						httpService.post(action, {
							title: $scope["data"]["title"],
							imgUrl: $scope["data"]["imgUrl"],
							url: $scope["data"]["url"],
							price: $scope["data"]["price"],
							sort: $scope["data"]["sort"],
							type: getRequest.param("model")
						})
						.then(function(response){
							removeTab.do(response);
						}, function(error){
							lmToastHelper.alert(error.message);
						});
					}
				};

				$scope.remove = function(event, type){
                    event.preventDefault();
                    $scope["data"][type] = "";
                };

				$scope.showPhotoView = potoView.show;

				$scope.options = {
		            url: baseParam.uploadBase,
		            before:function(file){
		                //验证
		                var result = uploadCheck.image(file);
		                if(!result){
		                	return false;
		                }
		                $scope.onLoading = true;
		                $scope.determinateValue = 0;
		                $scope.$digest();
		                return true;
		            },
		            uploading: function(progressValue){
                        $scope.determinateValue = progressValue;
                        $scope.$digest();
                    },
		            callBack:function(result){
		                //处理结果，显示预览
		                if("200" == result.code){
		                	$scope["data"]["imgUrl"] = baseParam.downloadBase+result["data"][0];
		                }else{
		                	lmToastHelper.alert(result.message);
		                }
		                $scope.determinateValue = 0;
		                $scope.onLoading = false;
		                $scope.$digest();
		            }
		        };

		        //获取详情
				if($scope.pageType != null){
					(function(){
						httpService.post(baseParam.basePathB+"meta/homeElement/get/"+$scope.id)
						.then(function(response){
							$scope.data = response.data;
						}, function(error){
							lmToastHelper.alert(error.message);
						});
					})();
				}
			}
		])
	;
	</script>
</body>
</html>
