<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="styleSheet" href="../../css/framework/table.css?v=1.0.1">
	<link rel="styleSheet" href="../../css/framework/module.css?v=1.0.1">
    <base href="./">
	<title>字典</title>
</head>
<body>
	<form action="../../data/success" method="POST">
		<div class="module" style="width: 100%;">
			<div class="title">
	    		<div class="item selected" v-cloak>字典{{PAGETITLE}}</div>	
	    	</div>
	    	<div class="content">
	    		<div class="item selected" style="padding:10px;">    			
	  				<table class="detailTable" border="1">
						<tr>
							<th width="20%">字典编号</th>
							<td width="30%">
								<input type="text" name="code" title="字典编号" class="null" v-model="code" v-cloak v-if="!ISDETAIL">
								<span v-cloak v-else>{{code}}</span>
							</td>
							<th width="20%">字典名称</th>
							<td width="30%">
								<input type="text" name="name" title="字典名称" class="null" v-model="name" v-cloak v-if="!ISDETAIL">
								<span v-cloak v-else>{{name}}</span>
							</td>
						</tr>
						<tr>
							<th width="20%">字典标识</th>
							<td width="30%">
								<input type="text" name="dictFlag" title="字典标识" class="null" v-model="dictFlag" v-cloak v-if="!ISDETAIL">
								<span v-cloak v-else>{{dictFlag}}</span>
							</td>
							<th width="20%">字典顺序</th>
							<td width="30%">
								<input type="text" name="dictOrder" title="字典顺序" class="null integer plus" v-model="dictOrder" v-cloak v-if="!ISDETAIL">
								<span v-cloak v-else>{{dictOrder}}</span>
							</td>
						</tr>
						<tr>
							<th width="20%">是否末级节点</th>
							<td width="30%">
								<select name="isLeaf" v-model="isLeaf" v-cloak v-if="!ISDETAIL">
									<option value="0">否</option>
									<option value="1">是</option>
								</select>
								<span v-cloak v-else>{{isLeaf=="0"?"否":"是"}}</span>
							</td>
							<th width="20%"></th>
							<td width="30%"></td>
						</tr>
						<tr style="height:100px;">
							<th width="20%" height="50">备注</th>
							<td width="30%" colspan="3">
								<textarea name="" style="height: 98%;width: 98%;" v-model="memo" :readonly="ISDETAIL"></textarea>
							</td>
						</tr>
	  				</table>		
	    		</div>
	    		<div class="submit" v-if="PAGETYPE != 'detail'">
	    		    <center>
	    		    	<input type="button" class="saveBtn" value="保存">
	    		    </center>
	    		</div>
	    	</div>
		</div>
	</form>

	<script src="../../js/jquery/jquery-1.8.3.min.js?v=1.0.1"></script>
	<script src="../../plugins/Vue/Vue.js?v=1.0.1"></script>
	<script src="../../js/framework/table.js?v=1.0.1" ></script>
	<script src="../../js/default.js?v=1.0.1"></script>
	<script>
		var vmParam = $.extend(true, VMDEFAULT, {
			data: {
				code: "",
				name: "",
				dictFlag: "",
				dictOrder: "",
				isLeaf: "",
				memo: ""
			}
		});
		var vm = new Vue(vmParam);
		if(TYPE != null){
			var data = {		
				code: decodeURI(getRequest("code")),
				name: decodeURI(getRequest("name")),
				dictFlag: decodeURI(getRequest("dictFlag")),
				dictOrder: decodeURI(getRequest("dictOrder")),
				isLeaf: decodeURI(getRequest("isLeaf"))=="是"?1:0,
				memo: decodeURI(getRequest("memo"))		
			};
			for(item in data){
				vm[item] = data[item];
			}
		}
	</script>
</body>
</html>
