<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="styleSheet" href="../../css/framework/table.css?v=1.0.1">
	<link rel="styleSheet" href="../../css/framework/module.css?v=1.0.1">
    <base href="./">
	<title>渠道信息</title>
</head>
<body>
	<form action="" method="POST">
		<div class="module" style="width: 100%;">
			<div class="title">
	    		<div class="item selected" v-cloak>渠道信息{{PAGETITLE}}</div>	
	    	</div>
	    	<div class="content">
	    		<div class="item selected" style="padding:10px;">    			
	  				<table class="detailTable" border="1">
						<tr>
							<th width="20%">名称</th>
							<td width="30%">
								<input type="text" name="name" title="名称" class="null" v-model="name" v-cloak v-if="!ISDETAIL">
								<span v-cloak v-else>{{name}}</span>
							</td>
							<th width="20%">公司名称</th>
							<td width="30%">
								<select name="supplierId" v-model="supplierId" v-cloak v-if="!ISDETAIL">
									<option></option>
									<option v-for="s in SUPPLIERS" :value="s.id">{{s.name}}</option>
								</select>
								<span v-cloak v-else>{{supplierName}}</span>
							</td>
						</tr>
						<tr>
							<th width="20%">渠道类型</th>
							<td width="30%">
								<select name="typeId" v-model="typeId" v-cloak v-if="!ISDETAIL">
									<option></option>
									<option v-for="s in TYPES" :value="s.id">{{s.name}}</option>
								</select>
								<span v-cloak v-else>{{typeName}}</span>
							</td>
							<th width="20%">联系电话</th>
							<td width="30%">
								<input type="text" name="tel" v-model="tel" title="联系电话" class="phone" v-cloak v-if="!ISDETAIL">
								<span v-cloak v-else>{{tel}}</span>
							</td>
						</tr>
						<tr>
							<th width="20%">负责人</th>
							<td width="30%">
								<input type="text" name="managerName" v-model="managerName" v-cloak v-if="!ISDETAIL">
								<span v-cloak v-else>{{managerName}}</span>
							</td>
							<th width="20%">负责人电话</th>
							<td width="30%">
								<input type="text" name="managerMobile" v-model="managerMobile" title="负责人电话" class="phone" v-cloak v-if="!ISDETAIL">
								<span v-cloak v-else>{{managerMobile}}</span>
							</td>
						</tr>
						<tr>
							<th width="20%" height="50">图片</th>
							<td width="30%" colspan="3" style="padding: 5px">
								<div id="code"></div>
								<button @click="upload('code')" class="myBtn btn-primary" v-cloak v-if="!ISDETAIL">上传图片</button>
							</td>
						</tr>
						<tr style="height:200px;">
							<th width="20%" height="50">描述</th>
							<td width="30%" colspan="3" style="height: 200px;">
								<textarea name="des" style="height: 100%;width: 98%;" v-model="des" :readonly="ISDETAIL"></textarea>
							</td>
						</tr>
	  				</table>		
	    		</div>
	    		<div class="submit" v-if="PAGETYPE != 'detail'">
	    		    <center>
	    		    	<input type="button" class="saveBtn" value="保存">
	    		    </center>
	    		</div>
	    	</div>
		</div>
	</form>

	<script src="../../js/jquery/jquery-1.8.3.min.js?v=1.0.1"></script>
	<script src="../../plugins/Vue/Vue.js?v=1.0.1"></script>
	<script src="../../plugins/AjaxUploader-0.0.1.js?v=1.0.1"></script>
	<script src="../../js/framework/table.js?v=1.0.1" ></script>
	<script src="../../js/default.js?v=1.0.1"></script>
	<script>
		var vmParam = $.extend(true, VMDEFAULT, {
			data: {
				name: "",
				supplierId: "",
				supplierName: "",
				code: "",
				des: "",
				typeId: "",
				typeName: "",
				tel: "",
				managerName: "",
				managerMobile: "",
				TYPES: [],
				SUPPLIERS: []
			},
			computed: {
				ACTION: function(){
					switch(TYPE){
						case "edit":
							return "meta/channel/update/"+getRequest("id");
						case "detail":
							return "meta/channel/get/"+getRequest("id");
						default:
							return "meta/channel/add";
					}
				}
			},
			methods: {
				formdata: function(){
					var data = {
						code: this.code,
						typeName: $("[name='typeId'] option:selected").text(),
						supplierName: $("[name='supplierId'] option:selected").text()
					};
					return data;
				},
				upload: function(ms, event){
					var _this = this;
					new AjaxUploader({
    					url: _this.uploadBase,
    					name: "file",
    					before: function(file){
    						//验证
    						return _this.pictureCheck(file);
    					},
    					callBack:function(result){
        					//处理结果，显示预览
    						if(result && result.data){
    							_this.createFilePicture(result.data, ms);
    						}
    					}
    				});
				},
				getSupplier: function(){
					var _this = this;
					var param = {
						pageSize: 100
					};
					junAjax({
						url: vm.basePathB+"meta/supplier",
						type: "POST",
						contentType:'application/json',
						data: JSON.stringify(param),
						processData: false,
						success: function(result){
							if(result.code != "200"){
								alert(result.data);
							}else{
								for(var i=0; i<result.data.length; i++){
									_this.$set(_this.SUPPLIERS, i, {
										name: result.data[i].name,
										id: result.data[i].id
									});
								}
							}
						},
						error: function(){
							alert("网络错误 ！");
						}
					});
				}
			}
		});
		var vm = new Vue(vmParam);
		$("form").attr("action", vm.basePathB+vm.ACTION);
		if(TYPE != "detail"){
			vm.getSupplier();
		}
		if(TYPE != null){
			junAjax({
				url: vm.basePathB+"meta/channel/get/"+getRequest("id"),
				success: function(result){
					if(result.code != "200"){
						alert(result.data);
					}else{
						for(data in result.data){
							vm[data] = result.data[data];
						}

						if(typeof vm.code != "undefined" && vm.code != ""){
							vm.createFilePicture([vm.code], "code", {type: vm.PAGETYPE});
						}
					}
				},
				error: function(){
					alert("网络错误 ！");
				}
			});
		}
	</script>
</body>
</html>
